# See https://docs.docker.com/engine/reference/builder/#dockerignore-file

# Git
.git
.gitignore

# Docker
Dockerfile
.dockerignore

# Node
node_modules
npm-debug.log
yarn-error.log

# Next.js
.next

# Editor
.vscode
.idea

# Env
.env
.env.local
.env.development
.env.test
.env.production

# Logs
*.log

# Husky
.husky
